# Dynamic Prompt
<img src="./assets/LC_DynamicPrompts.png" width="500">

In [1]:
from dotenv import load_dotenv
from env_utils import doublecheck_env

# Load environment variables from .env
load_dotenv("../.env")

# Check and print results
doublecheck_env("../.env")

OPENAI_API_KEY=****VLwA
UPSTAGE_API_KEY=****d51g
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=****.com
LANGCHAIN_PROJECT=****demy
LANGCHAIN_API_KEY=****fc10
PINECONE_API_KEY=****4e73
HUGGINGFACE_API_KEY=****aRMB
TAVILY_API_KEY=****2UUC
SERPER_API_KEY=****e4cd
WOLFRAM_ALPHA_APPID=****LT74
POLYGON_API_KEY=****8Gso

In [2]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")

In [3]:
from dataclasses import dataclass


@dataclass
class RuntimeContext:
    is_employee: bool
    db: SQLDatabase

In [4]:
from langchain_core.tools import tool
from langgraph.runtime import get_runtime

@tool
def execute_sql(query: str) -> str:
    """Execute a SQLite command and return results."""
    runtime = get_runtime(RuntimeContext)
    db = runtime.context.db

    try:
        return db.run(query)
    except Exception as e:
        return f"Error: {e}"

In [5]:
SYSTEM_PROMPT_TEMPLATE = """You are a careful SQLite analyst.

Rules:
- Think step-by-step.
- When you need data, call the tool `execute_sql` with ONE SELECT query.
- Read-only only; no INSERT/UPDATE/DELETE/ALTER/DROP/CREATE/REPLACE/TRUNCATE.
- Limit to 5 rows unless the user explicitly asks otherwise.
{table_limits}
- If the tool returns 'Error:', revise the SQL and try again.
- Prefer explicit column lists; avoid SELECT *.
"""

## Build a Dynamic Prompt
Utilize runtime context and middleware to generate a dynamic prompt.

In [ ]:
from langchain.agents.middleware.types import ModelRequest, dynamic_prompt


@dynamic_prompt # 이 데코레이트는 함수를 동적 프롬프트 미들웨어로 변환함
def dynamic_system_prompt(request: ModelRequest) -> str:
    if not request.runtime.context.is_employee:
        table_limits = "- Limit access to these tables: Album, Artist, Genre, Playlist, PlaylistTrack, Track."
    else:
        table_limits = ""

    return SYSTEM_PROMPT_TEMPLATE.format(table_limits=table_limits)

Include middleware in `create_agent`.

In [ ]:
from langchain.agents import create_agent

agent = create_agent(
    model="openai:gpt-5",
    tools=[execute_sql],
    middleware=[dynamic_system_prompt],# 데코레이터 때문에 동적 프롬프트 함수를 미들 웨어 인자로 전달 가능
    context_schema=RuntimeContext,
)

In [8]:
question = "What is the most costly purchase by Frank Harris?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    context=RuntimeContext(is_employee=False, db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

What is the most costly purchase by Frank Harris?
================================== Ai Message ==================================

I can’t look up purchases with my current access. The tables I can query (Album, Artist, Genre, Playlist, PlaylistTrack, Track) don’t contain customer or invoice data.

To find the most costly purchase by Frank Harris, I need access to these tables:
- Customer
- Invoice
- InvoiceLine

If you allow those, I’ll run one read-only query that returns his single most expensive invoice. Example query I would use:
SELECT i.InvoiceId,
       i.InvoiceDate,
       ROUND(SUM(il.UnitPrice * il.Quantity), 2) AS TotalAmount
FROM Customer c
JOIN Invoice i ON i.CustomerId = c.CustomerId
JOIN InvoiceLine il ON il.InvoiceId = i.InvoiceId
WHERE c.FirstName = 'Frank' AND c.LastName = 'Harris'
GROUP BY i.InvoiceId, i.InvoiceDate
ORDER BY TotalAmount DESC
LIMIT 1;

Would you like me to proceed with access to those tables, or can you share the relevant rows?

In [9]:
question = "What is the most costly purchase by Frank Harris?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    context=RuntimeContext(is_employee=True, db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

What is the most costly purchase by Frank Harris?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (call_2GNvf21AcsvUKXyLPhjx1Dns)
 Call ID: call_2GNvf21AcsvUKXyLPhjx1Dns
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table' ORDER BY name LIMIT 5;
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (call_CJgiKqoeO1Jv9qR3NUsSg3HR)
 Call ID: call_CJgiKqoeO1Jv9qR3NUsSg3HR
  Args:
    query: SELECT CustomerId, FirstName, LastName, Company, Country FROM Customer WHERE FirstName = 'Frank' AND LastName = 'Harris' LIMIT 5;
================================= Tool Message =================================
Name: execute_sql

[(16, 'Frank', 'Harris', 'Google Inc.', 'USA')]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (call_Ot9hKLc7ams3FNI7Fibw8FZH)
 Call ID: call_Ot9hKLc7ams3FNI7Fibw8FZH
  Args:
    query: SELECT InvoiceId, InvoiceDate, Total FROM Invoice WHERE CustomerId = 16 ORDER BY Total DESC, InvoiceDate DESC LIMIT 1;
================================= Tool Message =================================
Name: execute_sql

[(145, '2010-09-23 00:00:00', 13.86)]
================================== Ai Message ==================================

Frank Harris’s most costly purchase totaled 13.86 on 2010-09-23 (Invoice #145).